<div class="heading">
	<h1>Redding Recovery Online</h1>
	<aside>Coronavirus Edition</aside>
</div>

<button mat-flat-button [routerLink]="'/meetings'" color="primary">GO TO MEETINGS</button>

<mat-card>
	<h2>
		What is this?
	</h2>

	<p>
		Due to the recent outbreak of COVID-19 in California, local and federal leaders have released restrictive guidelines around social distancing in order to prevent a more widespread outbreak. As a result many local residents may be unable or unwilling to attend local recovery meetings in person for fear of gettings sick, or just out of caution and respect. 
	</p>
</mat-card>

<mat-card>
	<h2>
		What you will find here
	</h2>

	<p>
		This site will host a list of meetings inspired by Alcoholic Anonymous that will be held online only. All meetings will be hosted via a free video or audio conferencing service (for example, Google Hangouts or Zoom). Each meeting will have a link to the service, a time and secretary for the meeting. All other details will be at the discretion of the meeting itself.
	</p>

	<p>
		Meetings will follow the Alcoholics Anonymous format that many of you will be familiar with. However, meetings are not affiliated with Alcoholics Anonymous itself. No donations will be collected, as there are practically no expenses associated with the operating of this site. 
	</p>
</mat-card>

<mat-card>
	<h2>
		What this isn't
	</h2>

	<p>
		While the meeting are similar to the Alcoholics Anonymouse format, they are not official AA meetings (in order to avoid any controversy). The meetings are meant to support local recovery, and are not meant to replace meetings already being held.
	</p>
</mat-card>

